<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>text utils</title>
</head>
<body>
<h1>Welcome to the text analyzer!!!.Enter your
text below</h1>
<form  action="/analyze" method='get' >
    <textarea name="text" style="margin: 0px; width: 1166px; height: 165px;"></textarea>
       <br>
    <input type="checkbox" name="removepunc">Remove Punctutions
        <br>
    <input type="checkbox" name="capital">UPPERCASE<br>
    <input type="checkbox" name="newlineremove">Remove New Line<br>
    <input type="checkbox" name="removespace">Remove spaces<br>
    <input type="checkbox" name="charcount">count char<br>
    <button type="submit">Analyze Text</button>

</form>
</body>
</html>